.hero {
  background-image: url("img/hero.jpg");
  background-size: cover;
}

.nav-link {
  color: #FFFFFF !important;
  font-weight: bold;
}

.cta {
  color: #FFFFFF !important;
}

.ig-logo {
  left: 15px;
  bottom: 15px;
  position: absolute;
  width: 40px;
}




.circle {
  border-radius: 100%;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.black {
  background: black;
}
